<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<html>
<head>
<meta charset="ISO-8859-1">
<title>add a Field</title>
<!-- High chart & Bootstrap CDN -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<style type="text/css">
	 .error {
		color: #D8000C;
		background-color: #FFBABA;
		font-size: 15px;
		font-style: italic;
	}
</style>
</head>
<body>

 <a th:href="@{'/home'}">Back to MainPage</a><br>
 <a th:href="@{'/api/fields/add'}">Add a new Field</a><br>
 
 <div class="container">
	  <div class="col-lg-6 offset-md-3">
	    <div class="card card-body">
	    
	      <form action= "#"  th:action="@{/api/fields/save}"  th:object="${field}" method="post">
	       
	       <div class="form-group">
	         <label for="fieldID">Field Name</label> 
	         <input class="form-control" type="text" name="fieldName" id="fieldNameID" th:field="*{fieldName}" placeholder="field Name ...">
	         <span  class="error" th:if="${#fields.hasErrors('fieldName')}" th:errors="*{fieldName}">Field Name Error</span>
	       </div>
	       
	       <div class="form-group">
	         <label for="fieldDescID">Field Desc</label> 
	         <input class="form-control" type="text" name="fieldDesc" id="fieldDescID" th:field="*{fieldDesc}" placeholder="field Desc ...">
	         <span  class="error" th:if="${#fields.hasErrors('fieldDesc')}" th:errors="*{fieldDesc}">Field Desc Error</span>
	       </div>
	       
	       <div class="form-group">
	          <button type="submit" class="btn btn-primary btn-sm">Add Field</button>	      
	       </div>
	       
	        <div class="form-group">
	          <a th:href="@{'/api/fields'}">Back to MainPage</a><br>
	       </div>
	       
	      </form>
        </div>
      </div>
    </div>
 
 

</body>
</html>